
div.navbarCenter { margin: 0 auto 0 auto; width: 980px}
form.registrarIndex input { width: 300px; margin-bottom: 5px}
form.registrarIndex button {width: 300px}


form.ingresarIndex input {width: 200px; height: 25px; margin: 0 20px 5px 20px; padding: 5px}
button.ingresarIndex {width: 200px; height: 25px; margin: 0 20px 5px 20px; padding: 0; vertical-align: none}

div.jumbotron {width: 100%; height:400px}
div.panel-body a {text-decoration: none;}

.progress-bar-success label { color: black; padding: 3px 15px}
.progress-bar-success {text-align: right;}
div.panel-default {font-size: 20px}
img.img-rounded{height:40px; width:40px;float:left;}
div.focusedInput{margin-left:15%;}
div.right{float:right;}
div.left{float:left;}
div.noactive{background-color:gray;}
a.link{color:blue;}
div.row{margin-left:20%;}
/* index.html*/
#titulo{
margin-left: -20%;
}

/*.imageindex{
margin-left: 25%;
margin-top:-30%;
}*/

/*home.html*/
#contenedor{
margin-left:38%;
}

/*objetivos.html*/
#float_right{
float:right;
margin-top: -23.5%;
}

#alerta{margin-left:15%;}